body {
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif
}
@font-face {
    font-family: 'Grind Zero';
    src: url('../images/Grind Zero.ttf');
}
h1, h2, h3, h4, h5, h6 {
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700
}

.rounder {
  border-radius: 50px !important;
    margin-bottom: 5px;
    font-family: Grind Zero;
}
.btn {
    font-family: Grind Zero;
    width: 40%;
}
.list-inline-item {
  font-size: 30px;
  margin-right: 1.5rem;
}
.main-background {
  background: url(../images/Background.png);
  background-size: contain;
  margin-top: 72px;
}
.mainLogo-ak {margin-top: 72px;}
header.masthead {
  position: relative;
  background-color: #343a40;
  background: url(../images/main.jpeg) no-repeat center center;
  -webkit-background-size: 1315px 580px;
  -moz-background-size: 1315px 580px;
  -o-background-size: 1315px 580px;
  background-size: 1315px 580px;
  padding-top:8rem;
  padding-bottom: 8rem;

}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: .3
}

header.masthead h1 {
  font-size: 2rem
}

@media (min-width:768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem
  }
  header.masthead h1 {
    font-size: 3rem
  }
}

.showcase .showcase-text {
  padding: 3rem
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover
}

@media (min-width:768px) {
  .showcase .showcase-text {
    padding: 7rem
  }
}

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem
}

.features-icons .features-icons-item {
  max-width: 20rem
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem
}

.testimonials .testimonial-item {
  max-width: 18rem
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0 5px 5px 0 #adb5bd
}

.call-to-action {

    position: absolute;
    background-color: #343a40;

    padding-top:8rem;
    padding-bottom: 8rem;



}

.call-to-action .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: .3
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem
}

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}



header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 33.5rem;

  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: 1315px 580px;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
h2{
  font-family: Grind Zero !important;
}
.fa {
  padding: 5px 5px;
  font-size: 30px;

  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.contactUSCSS {
  position: relative;


  padding-top: 7rem;
  padding-bottom: 7rem;
}

.contactUSCSS .overlay {
  position: absolute;

  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}
.pointer-nav {
  cursor: pointer;
}
footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

// Styling for the navbar
#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  @include heading-font;
  .navbar-brand {
    color: $white;
  }
  .navbar-nav {
    margin-top: 1rem;
    letter-spacing: 0.0625rem;
    li.nav-item {
      a.nav-link {
        color: $white;
        &:hover {
          color: $primary;
        }
        &:active,
        &:focus {
          color: $white;
        }
        &.active {
          color: $primary;
        }
      }
    }
  }

  .navbar-toggler {
    font-size: 80%;
    padding: 0.8rem;
  }
}
@media(min-width:992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    .navbar-brand {
      font-size: 2em;
      -webkit-transition: font-size 0.3s;
      -moz-transition: font-size 0.3s;
      transition: font-size 0.3s;
    }
    .navbar-nav {
      margin-top: 0;
    }
    .navbar-nav > li.nav-item > a.nav-link.active {
      color: $white;
      background: $primary;
      &:active,
      &:focus,
      &:hover {
        color: $white;
        background: $primary;
      }
    }
  }
  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    .navbar-brand {
      font-size: 1.5em;
    }
  }
}
